<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf demo - Employee form</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h3>Employee registration form</h3>
    <!-- employee is the name of the model attribute we set in the controller -->
    <form th:action="@{/processEmployeeForm}" th:object="${employee}" method="POST">
        <!-- *{name} is shortcut for ${employee.name} -->
        <!-- When the form is submitted Spring MVC will create a new Employee instance
             and add to the model, then call employee.setName(...) and employee.setSurName(...) methods -->
        Name: <input type="text" th:field="*{name}" />
        <br/><br/>
        Surname: <input type="text" th:field="*{surname}" />
        <br/><br/>
        Country:
        <select th:field="*{country}">
            <!-- Loop over the list of countries
                 th:value is the value sent during the form submission
                 th:text is text displayed to the user -->
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
        </select>
        <br/><br/>
        Favorite programming language:
        <!-- th:field... binding to property on Employee object
             th:value... value sent during form submission -->
        <input type="radio" th:field="*{favoriteLanguage}"
                            th:each="tempLanguage : ${languages}"
                            th:value="${tempLanguage}"
                            th:text="${tempLanguage}"/>
        <br/><br/>
        Favorite operating systems:
        <input type="checkbox"  th:field="*{favoriteSystems}"
                                th:each="tempSystem : ${systems}"
                                th:value="${tempSystem}"
                                th:text="${tempSystem}"></input>
        <br/><br/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>