<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf demo - Employee form confirmation</title>
    <meta charset="UTF-8" />
</head>
<body>
<h3>Employee confirmation</h3>
    The employee is confirmed: <span th:text="${employee.name} + ' ' + ${employee.surname}"></span>
    <br/>
    <!-- Calls employee.getCountry() -->
    Country: <span th:text="${employee.country}"></span>
    <br/>
    Favorite programming language: <span th:text="${employee.favoriteLanguage}"></span>
</body>
</html>