    <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf demo - Hello form</title>
    <meta charset="UTF-8" />
</head>
<body>
    <!-- if you use the GET method, the form data is added to the end of URL as name/value pairs
         url?field1=value1&field2=value2 -->
    <form th:action="@{/processForm}" method="GET">
        <input type="text" name="somethingToSay" placeholder="Say something..." />
        <input type="submit" />
    </form>
    </br>
    <!-- From data is passed in the body of HTTP request message -->
    <form th:action="@{/processForm2}" method="POST">
        <input type="text" name="somethingToSay" placeholder="And say something again..." />
        <input type="submit" />
    </form>
</body>
</html>