<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf demo - Hello form</title>
    <meta charset="UTF-8" />
</head>
<body>
    <form th:action="@{/processForm}" method="GET">
        <input type="text" name="somethingToSay" placeholder="Say something..." />
        <input type="submit" />
    </form>

    <form th:action="@{/processForm2}" method="GET">
        <input type="text" name="somethingToSay" placeholder="And say something again..." />
        <input type="submit" />
    </form>
</body>
</html>