<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf demo - time on the server</title>
    <!-- reference CSS file -->
    <!-- @ symbol references the context path of the application -->

    <!--  Spring MVC is very flexible on the view templates, there's actually other view templates that are supported.
          So if you don't want to use Thymeleaf, then you can make use of other templates, like Groovy, Velocity, Freemarker, etc. -->
    <link rel="stylesheet" th:href="@{/css/thymeleaf-demo.css}"/>
</head>
<body>
    <!-- Thymeleaf expression. Thymeleaf accesses "theDate" from the Spring MVC model -->
    <p th:text="'Time on the server is' + ${theDate}" class="funny" />
</body>
</html>